/Controller/bin/Debug/netcoreapp2.0/BusinessObject.dll
/Controller/bin/Debug/netcoreapp2.0/BusinessObject.pdb
/Controller/bin/Debug/netcoreapp2.0/Common.dll
/Controller/bin/Debug/netcoreapp2.0/Common.pdb
/Controller/bin/Debug/netcoreapp2.0/Controller.deps.json
/Controller/bin/Debug/netcoreapp2.0/Controller.dll
/Controller/bin/Debug/netcoreapp2.0/Controller.pdb
/Controller/bin/Debug/netcoreapp2.0/Controller.runtimeconfig.dev.json
/Controller/bin/Debug/netcoreapp2.0/Controller.runtimeconfig.json
/Controller/bin/Debug/netcoreapp2.0/DataObject.dll
/Controller/bin/Debug/netcoreapp2.0/DataObject.pdb
/Controller/bin/Debug/netcoreapp2.0/Repository.dll
/Controller/bin/Debug/netcoreapp2.0/Repository.pdb
/Controller/bin/Debug/netcoreapp2.0/Transaction.dll
/Controller/bin/Debug/netcoreapp2.0/Transaction.pdb
/BusinessObject/bin/Debug/netcoreapp2.0/BusinessObject.deps.json
/BusinessObject/bin/Debug/netcoreapp2.0/BusinessObject.dll
/BusinessObject/bin/Debug/netcoreapp2.0/BusinessObject.pdb
/BusinessObject/bin/Debug/netcoreapp2.0/Common.dll
/BusinessObject/bin/Debug/netcoreapp2.0/Common.pdb
/BusinessObject/bin/Debug/netcoreapp2.0/DataObject.dll
/BusinessObject/bin/Debug/netcoreapp2.0/DataObject.pdb
/BusinessObject/bin/Debug/netcoreapp2.0/Repository.dll
/BusinessObject/bin/Debug/netcoreapp2.0/Repository.pdb
/BusinessObject/obj/BusinessObject.csproj.nuget.cache
/BusinessObject/obj/BusinessObject.csproj.nuget.g.props
/BusinessObject/obj/BusinessObject.csproj.nuget.g.targets
/BusinessObject/obj/Debug/netcoreapp2.0/BusinessObject.AssemblyInfo.cs
/BusinessObject/obj/Debug/netcoreapp2.0/BusinessObject.AssemblyInfoInputs.cache
/BusinessObject/obj/Debug/netcoreapp2.0/BusinessObject.csproj.CopyComplete
/BusinessObject/obj/Debug/netcoreapp2.0/BusinessObject.csproj.CoreCompileInputs.cache
/BusinessObject/obj/Debug/netcoreapp2.0/BusinessObject.csproj.FileListAbsolute.txt
/BusinessObject/obj/Debug/netcoreapp2.0/BusinessObject.csprojResolveAssemblyReference.cache
/BusinessObject/obj/Debug/netcoreapp2.0/BusinessObject.dll
/BusinessObject/obj/Debug/netcoreapp2.0/BusinessObject.pdb
/BusinessObject/obj/Debug/netcoreapp2.0/User.AssemblyInfo.cs
/BusinessObject/obj/Debug/netcoreapp2.0/User.AssemblyInfoInputs.cache
/BusinessObject/obj/Debug/netcoreapp2.0/User.csproj.CoreCompileInputs.cache
/BusinessObject/obj/project.assets.json
/BusinessObject/obj/User.csproj.nuget.cache
/BusinessObject/obj/User.csproj.nuget.g.props
/BusinessObject/obj/User.csproj.nuget.g.targets
/Common/bin/Debug/netcoreapp2.0/Common.deps.json
/Common/bin/Debug/netcoreapp2.0/Common.dll
/Common/bin/Debug/netcoreapp2.0/Common.pdb
/Common/obj/Debug/netcoreapp2.0/Common.AssemblyInfo.cs
/Common/obj/Debug/netcoreapp2.0/Common.AssemblyInfoInputs.cache
/Common/obj/Debug/netcoreapp2.0/Common.csproj.CoreCompileInputs.cache
/Common/obj/Debug/netcoreapp2.0/Common.csproj.FileListAbsolute.txt
/Common/obj/Debug/netcoreapp2.0/Common.csprojResolveAssemblyReference.cache
/Common/obj/Debug/netcoreapp2.0/Common.dll
/Common/obj/Debug/netcoreapp2.0/Common.pdb
/Controller/obj/Debug/netcoreapp2.0/Controller.csproj.CopyComplete
/Controller/obj/Debug/netcoreapp2.0/Controller.csproj.CoreCompileInputs.cache
/Controller/obj/Debug/netcoreapp2.0/Controller.csproj.FileListAbsolute.txt
/Controller/obj/Debug/netcoreapp2.0/Controller.csprojResolveAssemblyReference.cache
/Controller/obj/Debug/netcoreapp2.0/Controller.dll
/Controller/obj/Debug/netcoreapp2.0/Controller.pdb
/DataObject/bin/Debug/netcoreapp2.0/DataObject.deps.json
/DataObject/bin/Debug/netcoreapp2.0/DataObject.dll
/DataObject/bin/Debug/netcoreapp2.0/DataObject.pdb
/DataObject/obj/Debug/netcoreapp2.0/DataObject.csproj.CoreCompileInputs.cache
/DataObject/obj/Debug/netcoreapp2.0/DataObject.csproj.FileListAbsolute.txt
/DataObject/obj/Debug/netcoreapp2.0/DataObject.dll
/DataObject/obj/Debug/netcoreapp2.0/DataObject.pdb
/Repository/bin/Debug/netcoreapp2.0/appsettings.json
/Repository/bin/Debug/netcoreapp2.0/Common.dll
/Repository/bin/Debug/netcoreapp2.0/Common.pdb
/Repository/bin/Debug/netcoreapp2.0/DataObject.dll
/Repository/bin/Debug/netcoreapp2.0/DataObject.pdb
/Repository/bin/Debug/netcoreapp2.0/Repository.deps.json
/Repository/bin/Debug/netcoreapp2.0/Repository.dll
/Repository/bin/Debug/netcoreapp2.0/Repository.pdb
/Repository/obj/Debug/netcoreapp2.0/Repository.csproj.CopyComplete
/Repository/obj/Debug/netcoreapp2.0/Repository.csproj.CoreCompileInputs.cache
/Repository/obj/Debug/netcoreapp2.0/Repository.csproj.FileListAbsolute.txt
/Repository/obj/Debug/netcoreapp2.0/Repository.csprojResolveAssemblyReference.cache
/Repository/obj/Debug/netcoreapp2.0/Repository.dll
/Repository/obj/Debug/netcoreapp2.0/Repository.pdb
/Transaction/bin/Debug/netcoreapp2.0/BusinessObject.dll
/Transaction/bin/Debug/netcoreapp2.0/BusinessObject.pdb
/Transaction/bin/Debug/netcoreapp2.0/Common.dll
/Transaction/bin/Debug/netcoreapp2.0/Common.pdb
/Transaction/bin/Debug/netcoreapp2.0/DataObject.dll
/Transaction/bin/Debug/netcoreapp2.0/DataObject.pdb
/Transaction/bin/Debug/netcoreapp2.0/Repository.dll
/Transaction/bin/Debug/netcoreapp2.0/Repository.pdb
/Transaction/bin/Debug/netcoreapp2.0/Transaction.deps.json
/Transaction/bin/Debug/netcoreapp2.0/Transaction.dll
/Transaction/bin/Debug/netcoreapp2.0/Transaction.pdb
/Transaction/obj/Debug/netcoreapp2.0/Transaction.AssemblyInfo.cs
/Transaction/obj/Debug/netcoreapp2.0/Transaction.AssemblyInfoInputs.cache
/Transaction/obj/Debug/netcoreapp2.0/Transaction.csproj.CopyComplete
/Transaction/obj/Debug/netcoreapp2.0/Transaction.csproj.CoreCompileInputs.cache
/Transaction/obj/Debug/netcoreapp2.0/Transaction.csproj.FileListAbsolute.txt
/Transaction/obj/Debug/netcoreapp2.0/Transaction.csprojResolveAssemblyReference.cache
/Transaction/obj/Debug/netcoreapp2.0/Transaction.dll
/Transaction/obj/Debug/netcoreapp2.0/Transaction.pdb
/.vs/Assignment1/v15/.suo
/.vs/Assignment1/v15/Server/sqlite3/db.lock
/.vs/Assignment1/v15/Server/sqlite3/storage.ide
/.vs/Assignment1/v15/Server/sqlite3/storage.ide-shm
/.vs/Assignment1/v15/Server/sqlite3/storage.ide-wal
/Common/obj/Common.csproj.nuget.cache
/Common/obj/Common.csproj.nuget.g.props
/Common/obj/project.assets.json
/Controller/obj/Controller.csproj.nuget.cache
/Controller/obj/Controller.csproj.nuget.g.props
/Controller/obj/Debug/netcoreapp2.0/Controller.csproj.CoreCompileInputs.cache
/Controller/obj/project.assets.json
/DataObject/obj/Debug/netcoreapp2.0/DataObject.csproj.CoreCompileInputs.cache
/DataObject/obj/Debug/netcoreapp2.0/DataObject.csprojResolveAssemblyReference.cache
/Transaction/obj/project.assets.json
/Transaction/obj/Transaction.csproj.nuget.cache
/Transaction/obj/Transaction.csproj.nuget.g.props
/Transaction/obj/Transaction.csproj.nuget.g.targets
/Repository/obj/Debug/netcoreapp2.0/Repository.csproj.CoreCompileInputs.cache
/Repository/obj/project.assets.json
/Repository/obj/Repository.csproj.nuget.cache
/Repository/obj/Repository.csproj.nuget.g.props
